body{
    margin: 0;
    padding: 0;
    text-align: center;
}

h1{
    margin-left: 100px;
    padding-top: 25px;
    font-size: 50px;
    margin-top: 17px;
    
}

#main{
    background: linear-gradient(to top,rgb(208,214,243),rgb(255,255,255));
    height: 620px;
    padding: 20px 150px;

}

select{
    width: 65px!important;
    height: 30px!important;
    text-align: center;
}

.btn-success{
    width: 250px;
    height: 45px;
}

.btn-info{
    height: 28px;
    line-height: 1;
    background-color: #4267b2!important;
    border: 1px solid #29487d!important;
    width:60px;
    height: 25px;
    font-size: 5px;
    
}

.nav{
    font-size: 12px;
}
._6wl {
    background: linear-gradient(#67ae55, #578843);
    background-color: #69a74e;
    box-shadow: inset 0 1px 1px #a4e388;
    border-color: #3b6e22 #3b6e22 #2c5115;
}
._3ma {
    font-family: 'Freight Sans Bold', Helvetica, Arial, sans-serif !important;
    font-weight: bold !important;
    letter-spacing: normal;
    text-rendering: optimizelegibility;
}
.mvm {
    margin-top: 10px;
    margin-bottom: 10px;
}
._58mi {
    min-width: 194px;
    padding: 7px 20px;
    text-align: center;
}
._6j {
    border: 1px solid;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    letter-spacing: 1px;
    position: relative;
    text-shadow: 0 1px 2px rgba(0,0,0,.5);
}
button {
    -webkit-appearance: button;
    -webkit-writing-mode: horizontal-tb !important; 
    box-sizing: border-box;
}
    
.container{
    font-size: 13px;
    align-content: center;
    padding-top: 20px;
 
}

.container a{
   padding-right: 15px;

}

.container a .lang{
    padding-top: 10px;
}

#footer{
margin-left: 30px;
}


.copy{
    color: rgb(114, 111, 111);
    font-size: 12px;
}
